body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0px 215px 0px 215px;
}

.main{
    position: relative;
    background-image: url(/resourse/images/bg1term.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: content-box;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 67px;
}

.menu ul{
    list-style-type: none;
    display: flex;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
}

.menu-item{
    margin-right: 25px;
}

.number{
    margin-left: 623px;
}

.menu-item a{
    text-decoration: none;
    color: #FFFFFF;
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 216px;
    /* margin-left: 380px; */
    align-items: center;
}



.subtitle{
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.1em;
    margin: 3px 0px 3px 0px
}

.title{
    font-size: 100px;
    line-height: 151px;
    margin: 3px 0px 19px 0px;
}

.book{
    width: 238px;
    height: 57px;
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

/* .book:hover{
    
} */

.main{
    display: flex;
    flex-direction: column;
}

.abt{
    display: flex;
    justify-content: center;
    margin-top: 435px;
    flex-direction: column;
    align-items: center;
}

.info-block{
    display: flex;
    margin-top: 60px;
}

.abt-title{
    color: #000000;
    font-size: 50px;
    line-height: 75px;
    margin: 0;
}

.abt p{
    color: #000000;
}

.subt{
    font-size: 25px;
    line-height: 38px;
}

.subt-abt{
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
}

.about{
    margin-right: 46px;
}

.images{
    display:flex;
    margin-top: 60px;
}

.img{
    margin-right: 30px;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.footer p{
    color:#000000;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Open Sans';
    text-transform: lowercase;
}