.nav a {
  color: #5a5a5a;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  /* text-transform: uppercase; */
}

.nav li {
  display: inline;
}

.container {
  position: relative;
  
}

.owl-carousel h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.owl-carousel p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px; 
    border-style: solid;
    border-color: #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    margin-bottom: 13px;
    font-size: 15px;
}

.nav1 a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.download{
  width:50px;
}

.link{
  width: 50px;
}

a.text{
  text-decoration: none;
  user-select: none;
}

.header {
  border-bottom: 1px solid rgb(199, 191, 191);
  padding: 15px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu-item{
  display: flex;
  margin-right: 300px;
  margin-left: 300px;
  align-items: center;
}


.menu-item a {
  font-size: 15px;
  color: #030305;
  text-decoration: none;
}

.book{
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

.book:hover{
  background-color: #615c5c;
  color: #ffffff;
}

.logo{
  width: 35px;
}

.difficulty{
  color: green !important;
}

.harder{
  color: orange !important;
}

.morehard{
  color: red !important;
}